* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;
  --widthAndHeight: max(142vw, 142dvh);
}

@media (max-width: 350px) {
  :root {
    font-size: calc(100vw / 21.875);
  }
}

body {
  background-color: black;
  overscroll-behavior: none;
}

#background-container {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#spinning-background {
  background: linear-gradient(blue 0%, black 40% 60%, purple 100%);
  min-width: var(--widthAndHeight);
  min-height: var(--widthAndHeight);
  border-radius: 50%;
  background-color: white;
  animation-name: spinning-background;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  z-index: inherit;
}

@keyframes spinning-background {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  z-index: 1;
}

.title {
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  border: solid blue 1px;
  border-radius: 1rem;
  z-index: inherit;
}
